.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/


*.rbc

*.sassc
.sass-cache

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3

capybara-*.html
.rspec
/log
/tmp
/public/system
/coverage/
/spec/tmp
/public/uploads/**/

spec/dummy/log/
spec/dummy/tmp/**/
spec/dummy/public/system/
spec/dummy/coverage/
spec/dummy/spec/tmp
spec/dummy/public/uploads/**/

config/database.yml

# For Mac
*.DS_Store

Gemfile.lock
*.gem
spec/dummy/public/assets
spec/dummy/uploads
uploads
spec/dummy/db/schema.rb
