<div class="row m-t-50">
      <div class="col-md-3">
        <div class="right sidebar">
          <div id="opening_time-1" class="sidebar-item opening-time">
            <div class="time-table">
              <h3><span class="icon icons-ornament-left"></span> <span class="light">Opening</span> Time <span class="icon icons-ornament-right"></span></h3>
              <div class="inner-bg">
                <dl class="week-day">
                  <dt>Monday</dt>
                  <dd>8:00 • 16:00</dd>
                </dl>
                <dl class="week-day light-bg">
                  <dt>Tuesday</dt>
                  <dd>8:00 • 16:00</dd>
                </dl>
                <dl class="week-day">
                  <dt>Wednesday</dt>
                  <dd>9:00 • 14:00</dd>
                </dl>
                <dl class="week-day light-bg today">
                  <dt>Thursday</dt>
                  <dd>8:00 • 16:00</dd>
                </dl>
                <dl class="week-day">
                  <dt>Friday</dt>
                  <dd>8:00 • 16:00</dd>
                </dl>
                <dl class="week-day light-bg closed">
                  <dt>Saturday</dt>
                  <dd>We're closed</dd>
                </dl>
                <dl class="week-day closed">
                  <dt>Sunday</dt>
                  <dd>We're closed</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="lined">
          <h2><span class="light">Connect with</span> Us</h2>
          <h5>This is the contact page with Contact Form </h5>
          <span class="bolded-line"></span>
        </div>
        <div role="form">
          <div class="screen-reader-response"></div>
          <form>
            <div class="row">
              <div class="col-md-4">
                <label>First and Last Name</label>
                <br> 
                <input type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <label>Phone Number</label>
                <br> 
                <input type="text" class="form-control">
              </div>
              <div class="col-md-4">
                <label>E-mail address</label>
                <br> 
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label>Your message</label>
                <br>
                <textarea class="form-control" cols="40" rows="5" ></textarea>
              </div>
            </div>
            <div class="row c-right">
              <div class="col-md-12">
                <button type="submit" class="btn book-now-btn ">Submit</button> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>