<!-- Thanks form HTML Start -->
<div class="c-content-title-1">
<div id="stage" class="form-all">
<div class="refresh-btn">
<a href="/"><i class="fa fa-refresh" aria-hidden="true"></i></a>
</div>
<p class="tick text-center">
<!-- <img src="assets/img/test.png" alt="" width="128" height="128"> -->
<i class="fa fa-check" aria-hidden="true"></i>
</p>
<div class=" thank-head text-center">
<h1 class="text-center">Thank You!</h1>
</div>
<div class="thank-cap text-center">
<p class="text-center">We shall reach out to you soon.</p>
</div>
</div>
</div>
<!-- Thanks form HTML End -->