<!-- <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle small-banner">
  <div class="container">
    <div class="c-page-title c-pull-left">
      <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim"> Offers & Packages</h3>
      <h4 class="c-font-white c-font-thin c-opacity-07">
        Page Sub Title Goes Here
      </h4>
    </div>
    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
      <li><a href="javascript:;" class="c-font-white">Home</a></li>
      <li class="c-font-white">/</li>
      <li><a href="javascript:;" class="c-font-white"> Offers & Packages</a></li>
    </ul>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row m-b-20 res-search">
    <div class="col-sm-12">
      <form action="#" method="post">
        <div class="input-group">
          <input type="text" class="form-control  search-field-box c-square c-theme-border" placeholder="Search..." style="">
          <span class="input-group-btn">
          <button class="btn c-theme-btn c-theme-border c-btn-square" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="c-content-box c-size-md c-no-bottom-padding c-overflow-hide">
  <div class="c-container">
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="c-content-title-1">
          <h3 class="c-font-34 c-font-center c-font-bold c-font-uppercase c-margin-b-30">
            Offers / Packages
          </h3>
          <div class="c-line-center c-theme-bg"></div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="c-content-tab-2 c-theme c-opt-1">
          <ul class="nav c-tab-icon-stack c-font-sbold c-font-uppercase">
            <li class="active">
              <a href="#c-tab2-opt1-1" data-toggle="tab">
              <span class="c-content-line-icon c-icon-25"></span>
              <span class="c-title">Offers</span>
              </a>
              <div class="c-arrow"></div>
            </li>
            <li>
              <a href="#c-tab2-opt1-2" data-toggle="tab">
              <span class="c-content-line-icon c-icon-19"></span>
              <span class="c-title">Packages</span>
              </a>
              <div class="c-arrow"></div>
            </li>
            <li>
              <a href="#c-tab2-opt1-3" data-toggle="tab">
              <span class="c-content-line-icon c-icon-14"></span>
              <span class="c-title">Price</span>
              </a>
              <div class="c-arrow"></div>
            </li>
          </ul>
          <div class="c-tab-content">
            <div class="c-bg-img-center1">
              <div class="container">
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="c-tab2-opt1-1">
                    <%= render :partial=>"/website/offers/offer_tab" -%>
                  </div>
                  <div class="tab-pane fade" id="c-tab2-opt1-2">
                    <%= render :partial=>"/website/offers/package_tab" -%>
                  </div>
                  <div class="tab-pane fade" id="c-tab2-opt1-3">
                    <%= render :partial=>"/website/offers/price_tab" -%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>