<div class="c-tab-pane">
  
  <div class="c-content-title-1">
    <h3 class="c-font-uppercase c-font-bold">SPECIAL PACKAGES</h3>
    <div class="c-line-left"></div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="blog-post-main">
      
        <div class="col-md-12">
          <div class="c-content-title-1 c-theme c-title-md">
            <h3 class="c-font-bold c-font-uppercase">Royal Regular - AED 400</h3>
          </div>
        </div>
     
        <article class="blog-post col-sm-4">
          <div class="aligncenter" >
            <figure>
              <img src="assets/package/facial.jpg" class="img-responsive" alt="offers">
            </figure>
          </div>
        </article>
        
        <div class="col-sm-8">
          <article class="blog-post-content">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td>Any 5 Items <span class="package_value">100 AED</span></td>
                  <td>Bridal <span class="package_value">200 AED</span></td>
                </tr>
                <tr>
                  <td>Any 10 Items <span class="package_value">300 AED</span></td>
                  <td>Any 20 Itemss <span class="package_value">400 AED</span></td>
                </tr>
              </tbody>
            </table>

            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                <td colspan="3" align="center"> Including Item</td>
                </tr>
                <tr>
                  <td>All facials Jovees  </td>
                  <td>Shahnaz Flower</td>
                  <td>Shahnaz- Normal</td>
                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Shahnaz- Diamond</td>
                  <td>Sha Whitening</td>

                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Shahnaz- Diamond</td>
                  <td>Sha Diamond</td>

                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Shahnaz- Diamond</td>
                  <td>Sha Whitening</td>
                </tr>
              </tbody>
            </table>
          </article>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="blog-post-main">
      
        <div class="col-md-12">
          <div class="c-content-title-1 c-theme c-title-md">
            <h3 class="c-font-bold c-font-uppercase c-font-right">ROYAL PREMIUM - AED 200</h3>
          </div>
        </div>
     
        
        <!-- Blog post of the page -->
        <div class="col-sm-8">
          <article class="blog-post-content">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td>All facials Jovees  </td>
                  <td>Shahnaz Flower</td>
                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Sha Whitening</td>
                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Sha Diamond</td>
                </tr>
                <tr>
                  <td>Shahnaz- Normal</td>
                  <td>Sha Whitening</td>
                </tr>
              </tbody>
            </table>
          </article>
        </div>
        <!-- Blog post of the page end -->
        <!-- Blog post of the page -->
        <article class="blog-post col-sm-4">
          <div class="aligncenter" >
            
            <figure>
              <img src="assets/package/wax.jpg" class="img-responsive" alt="offers">
            </figure>
          </div>
        </article>
        <!-- Blog post of the page end -->
      </div>
    </div>
  </div>

</div>