<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Admin Module" />
<meta name="author" content="Right IT Solutions" />

<%#= meta_tags %>

<title><%= title -%></title>

<%= csrf_meta_tags %>

<!-- Stylesheets -->

<%= stylesheet_link_tag  @stylesheet_filename, :media => "all" %>

<!-- Javascripts -->

<%= javascript_include_tag "jquery_with_ujs" -%>