<!DOCTYPE html>
<html>
<head>
  <title>Sbidu generators</title>
  <%= stylesheet_link_tag    "sbidu_generators/application", media: "all" %>
  <%= javascript_include_tag "sbidu_generators/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
