<footer style="margin-top:100px">
	<div class="container">
	  <p class="float-left">© 2017 SBIDU, 
	  	<span class="c-font-grey-3">All Rights Reserved. <br />Designed, Developed and Maintained by <a href="http://www.rightsolutions.ae" style="color: #eeeeee;" target="_blank">Right Solutions</a></span>
	  </p>
	  <p class="float-right">
	  	<a class="nav-link" href="/sign_in" target="_blank">Admin Login</a>
	  </p>
	  <div class="clearfix"></div>
	</div>
</footer>